*{
 text-decoration: none;
 list-style: none;
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}
.logo{
    display: inline;
    font-size: 27px;
    word-spacing: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 80px;
    font-weight: bold;
}
nav{
    background-color: beige;
    height: 80px;
    width: 100%;
}
i{
    color: lightblue;
}
.tn{
    color: red;
}
.about{
    color: lightgreen;
}
.career,a:hover{
    color: lightgreen;
    transition: 0.0001s;
}
.depar,a:hover{
    color: lightgreen;
    transition: 0.0001s;
}
.career{
    color: gray;
}
.depar{
    color: gray;
}
nav ul{
    float: right;
    margin-right: 400px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.first-main-line{
position: absolute;
left: 50%;
transform: translate(-50%,-50%);
}
h1{
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
    text-align: center;
    font-weight: normal;
    color: aquamarine;
}
.first-paragraphe{
    width: 500px;
    height: 100px;
    border: 3px solid white;
    display: inline-block;
text-align: left;
font-family:'Open Sans', sans-serif;
}
body{
    align-items: center;
    text-align: center;
}
.box-one{
    width: 330px;
    height: 370px;
    display: inline-block;
text-align: left;
font-family:'Open Sans', sans-serif;
border-radius: 10px;
padding: 12px;
margin: 5px;
color: white;
}
.important{
    width: 570px;
    height: 150px;
    border: 1px solid white;
    display: inline-block;
text-align: left;
font-family: 'Baloo 2', cursive;
font-size: 40px;
}
.link:hover{
color: aquamarine;
}
h2{
    font-size: 35px;
}
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
  }
    .text-block {
        position: absolute;
   top: 30%;
        left: 10%;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
      }
      .fist-block{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        right: 25%;
        background-color: white;
        padding-left: 20px;
        padding-right: 20px;
        top: 14%;
        padding: 3px;
      }
.second-block{
    position: absolute;
    top: 11%;
    right: 14%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
width: 200px;
height: 200px;
padding: 3px;
  }
  .third-block{
    background-color: white;
border-radius: 10px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 55%;
    right: 25%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  .fourth-block{
    background-color: white;
border-radius: 10px;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 52%;
    right: 14%;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }
  p{
    font-family:'Open Sans', sans-serif;
  }
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  .final{
    text-align: center;
  }